	<h1>Hello Code Fellows!</h1>
	<% if user_signed_in? %>
          <p>This challenge has really helped me learn a lot more about the Asset Pipeline, databases, rake, and even git. Thanks! Check out "Account Settings" at the top to see the features you're looking for.</p>
          <img src="/grin.png">
  <% else %>
		<p><%= link_to "Log in", new_user_session_path, class: "btn btn-default" %>if you already have an account, or
       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>to see what the app can do.</p>
  <% end %>